#! /usr/bin/env awk -f

BEGIN {

}
{
    line = $0
    
    stripTrailingWhitespace(line)

    if (line ~ /@property/) {
        # @include-fragment property.awk body
    } 
    else if (line ~ /@synthesize/) {
        # @include-fragment synthesize.awk body
    }
    else {
        print
    }
}
END {

}

# @include-fragment synthesize.awk functions
# @include-fragment util.awk functions